:root {
  /* Color */
  --background-color: #130700;
  --color-red: #ff0000;
  --color-white: #f9f9f9;
  --color-blue: #065fd4;
  --color-dark-grey: #909090;
  --color-light-grey: #ececec;
  /* Size */
  --padding: 12px;
  /* Font Size */
  --font-very-large: 18px;
  --font-large: 14px;
  --font-medium: 12px;
  --font-small: 10px;
  --font-very-small: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  background-color: var(--background-color);
  color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding);
}

header .logo i {
  color: var(--color-red);
  font-size: var(--font-very-large);
}

header .icon .fa-search {
  padding-right: var(--padding);
}

/* Video */
.player {
  text-align: center;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
}

.player video {
  outline: none;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* info */
.info {
  padding: var(--padding);
}

.hashtag {
  display: flex;
}

.hashtag li {
  color: var(--color-blue);
  font-size: var(--font-large);
  margin-right: var(--padding);
}

.titleAndMoreBtn {
  display: flex;
  justify-content: space-between;
}

.titleAndMoreBtn .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-right: calc(var(--padding) / 2);
}

.titleAndMoreBtn .moreBtn {
  height: 100%;
}

.info .views {
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
}

.info .actionBtn {
  display: flex;
  justify-content: space-around;
}

.info .actionBtn .iconAndText {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.info .actionBtn .iconAndText i {
  font-size: var(--font-very-large);
  color: var(--color-dark-grey);
  margin-bottom: calc(var(--padding));
}

.channel {
  display: flex;
  justify-content: space-between;
  border-top: 2px var(--color-light-grey) solid;
  border-bottom: 2px var(--color-light-grey) solid;
}

.channel .info {
  display: flex;
  align-items: center;
}

.channel .info .nameAndSubscribers {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.channel .info .nameAndSubscribers .subscribers {
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
}

.channel .info .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(--color-red);
}

/* Up next */
.upNext {
  padding: var(--padding);
}

.upNext > .title {
  font-size: var(--font-very-large);
  color: var(--color-dark-grey);
  margin-bottom: var(--padding);
}

.upNext .playList .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext .playList .item .info {
  height: 100%;
  padding: 0px;
  padding-left: var(--padding);
}

.upNext .playList .item .info .name {
  color: var(--color-dark-grey);
  font-size: var(--font-large);
}

.upNext .playList .item .img img {
  width: 200px;
}

.upNext .playList .item .info .title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    display: flex;
  }
  .player {
    position: initial;
  }
}
