:root {
  /* Color */
  --color-black: #130700;
  --color-red: #ff0000;
  --color-white: #f9f9f9;
  --color-blue: #065fd4;
  --color-dark-grey: #909090;
  --color-light-grey: #ececec;
  /* Size */
  --padding: 12px;
  --margin: 12px;
  --avatar-size: 36px;
  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

ul {
  list-style: none;
}

button,
button:focus {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--color-black);
  color: var(--color-white);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--color-red);
}

header .icon .fa-search {
  margin-right: var(--margin);
}

/* Video Player */
.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--color-black);
  margin-bottom: var(--margin);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* info */
.infoAndUpNext > .info {
  padding: 0 var(--padding);
}

.info .metadata .hashtag {
  margin-bottom: calc(var(--margin) / 2);
}

.info .metadata .hashtag ul {
  display: flex;
}

.info .metadata .hashtag li {
  font-size: var(--font-small);
  color: var(--color-blue);
  margin-right: var(--margin);
}

.info .metadata .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--margin) / 2);
}

.info .metadata .title .text {
  font-size: var(--font-medium);
  display: -webkit-box;
}

.info .metadata .title .text.clamp {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--margin);
}

.info .metadata .title .morebtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .title .morebtn.clicked {
  transform: rotate(180deg);
}

.info .metadata .views {
  font-size: small;
  color: var(--color-dark-grey);
}

.actionBtn {
  margin-top: var(--margin);
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--margin);
}

.actionBtn .item {
  display: flex;
  flex-direction: column;
}

.actionBtn .item .icon {
  font-size: var(--font-large);
  margin-bottom: calc(var(--margin) / 2);
}

.actionBtn .item .icon.clicked {
  color: var(--color-blue);
}

.actionBtn .item .text {
  font-size: var(--font-medium);
}

.channel {
  display: flex;
  justify-content: space-between;
  border-top: 2px var(--color-light-grey) solid;
  border-bottom: 2px var(--color-light-grey) solid;
}

.channel .metadata {
  display: flex;
  align-items: center;
  margin: var(--margin) 0;
}

.channel .metadata .img img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: var(--margin);
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.channel .subscribeBtn {
  text-transform: uppercase;
  color: var(--color-red);
}

/* UpNext */
.upNext {
  padding: 0 var(--padding);
}

.upNext > .title {
  margin: var(--margin) 0;
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
}

.upNext .metadata .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin);
}

.upNext .metadata .item .img img {
  width: 100%;
}

.upNext .metadata .item .img {
  flex: 1 1 30%;
  margin-right: var(--margin);
}

.upNext .metadata .item .info {
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
}

.upNext .metadata .item .info .title {
  font-size: var(--font-medium);
}
.upNext .metadata .item .info .name {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}
.upNext .metadata .item .info .views {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.upNext .metadata .item .morebtn {
  flex: 1 1 5%;
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    margin-top: var(--margin);
    flex-direction: row;
  }

  .player {
    position: initial;
  }
}
